
<button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="w-[200px] py-4 px-5 flex justify-between text-dark-blue bg-white focus:outline-none hover:scale-105 duration-300 transition-scale ease  font-medium rounded-md text-[14px] leading-[20px]  items-center shadow-md dark:bg-dark-blue dark:text-white" type="button" (click)="openFilter()">
  Filter by Region
  <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" class="ml-4"/>
  </svg>
</button>

  <!-- Dropdown menu -->
  @if (isFilterByRegionsMenuOpen) {
    <div id="dropdown" class="absolute w-[200px] z-10  px-5 mt-2 bg-white divide-y divide-gray-100 rounded-md shadow dark:bg-dark-blue dark:text-white hover:scale-105 duration-300 transition-scale ease">
      <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
        <li class="mb-2 hover:scale-105 duration-300 transition-scale ease">
          <a routerLink="/" >All</a>
        </li>
        @for (region of regions | keyvalue; track $index) {
          <li class="text-dark-blue mb-2 dark:text-white hover:scale-105 duration-300 transition-scale ease">
            <a [routerLink]="['/region', region.value]">
              {{region.value}}
            </a>
          </li>
        }
      </ul>
  </div>
  }


