<section class="bg-red p-4 md:p-14 xl:p-20 min-h-screen dark:bg-very-dark-blue-dark dark:text-white">
  <button class="flex items-center mb-8 px-6 py-2 lg:mb-20 text-[16px] leading-[20px] font-light shadow-lg rounded-sm lg:shadow-none dark:bg-dark-blue dark:px-6 dark:py-2 dark:text-white hover:scale-105 duration-300 transition-scale ease" (click)="back()">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" width="18" height="18">
      <path class="dark:fill-very-light-gray" fill="#232326" d="M24 12.001H2.914l5.294-5.295-.707-.707L1 12.501l6.5 6.5.707-.707-5.293-5.293H24v-1z" data-name="Left"/>
    </svg>
    <span class="ml-2">Back</span>
  </button>
  <div class="flex flex-col lg:flex-row items-start lg:items-center">
    <div class="w-full md:w-[600px] lg:w-[500px]">
      <img [src]="country().flags.png" alt="" class="rounded-md w-full lg:h-[390px] object-fill">
    </div>
    <div class="lg:ml-14 xl:ml-32 mt-8 lg:mt-0">
      <h1 class="font-extrabold text-[22px] lg:text-[32px] mb-4">{{country().name.common}}</h1>
      <div class="flex flex-col justify-start md:flex-row md:justify-between">
        <div class="space-y-1">
          @if (country().name.nativeName) {
            <p class="font-extrabold text-[14px] lg:text-[16px] leading-[32px]">Native Name:
              <span class="font-light ">{{getNativeName()}}</span>
            </p>
          }
          <p class="font-extrabold text-[14px] lg:text-[16px] leading-[32px]">Population:
            <span class="font-light">{{country().population}}</span>
          </p>
          <p class="font-extrabold text-[14px] lg:text-[16px] leading-[32px]">Region:
            <span class="font-light">{{country().region}}</span>
          </p>
          @if (country().subregion) {
            <p class="font-extrabold text-[14px] lg:text-[16px] leading-[32px]">Sub Region:
              <span class="font-light">{{country().subregion}}</span>
            </p>
          }
          @if (country().capital) {
            <p class="font-extrabold text-[14px] lg:text-[16px] leading-[32px]">Capital:
              <span class="font-light">{{country().capital}}</span>
            </p>
          }
        </div>
        <div class="space-y-1 mt-4 md:ml-4 md:mt-0 ">
          @if (country().tld && country().tld?.length !== 0) {
            <p class="font-extrabold text-[14px] lg:text-[16px] leading-[32px]">Top Level Domain:
              <span class="font-light"> {{country().tld}}</span>
            </p>
          }
          @if (getCurrencies() != null) {
            <p class="font-extrabold text-[14px] lg:text-[16px] leading-[32px]">Currencies:
              <span class="font-light">{{getCurrencies()}}</span>
            </p>
          }
          @if (getLanguages() != null) {
            <p class="font-extrabold text-[14px] lg:text-[16px] leading-[32px]">Languages:
              <span class="font-light">{{getLanguages()}}</span>
            </p>
          }

        </div>
      </div>
      @if (getBorders() !== null) {
        <div class="flex flex-col lg:flex-row mt-8 items-start lg:items-center">
          <p class="font-extrabold text-[14px] lg:text-[16px] leading-[32px]">Border Countries:</p>
          <div class="lg:ml-2 grid grid-cols-2 gap-2 items-start  sm:grid-cols-3 xl:flex xl:flex-row xl:items-center">
            @for (border of getBorders(); track $index) {
              <a [routerLink]="['/country', border]" class="shadow-lg w-28 py-2  text-center dark:bg-dark-blue hover:scale-105 duration-300 transition-scale ease"> {{border}}</a>
            }
          </div>
        </div>
      }

    </div>
  </div>

</section>
