<form class="mx-auto w-full md:w-[450px] lg:w-[500px]" (submit)="searchCountryByName()">
  <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
  <div class="relative ">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
      </div>
      <input  [(ngModel)]="name"
              name="name"
              (keydown.enter)="searchCountryByName()"
              (keyup)="keyPressed()"
              type="search"
              id="default-search"
              class="block w-full p-4 ps-10 text-sm shadow-xl rounded-lg appearance-none focus:border-none  focus:outline-none placeholder:text-[14px] placeholder:leading-[20px] placeholder:text-[#848484] dark:bg-dark-blue dark:placeholder:text-white dark:text-white"
              placeholder="Search for a country..."
              required />
  </div>
</form>

